<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../assets/images/carbazaar_logo.jpg" height="50" width="180">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item active">
          <a routerLink="/carlist"><i class="fa fa-car" aria-hidden="true">Car List</i></a>
        </li>
        <li class="nav-item active" *ngIf="!log">
          <a routerLink="/register">
            <i class="fa fa-user " aria-hidden="true">Register</i>
          </a>
        </li>
        <li class="nav-item active" *ngIf="!log">
            <a routerLink="/login">
              <i class="fa fa-user " aria-hidden="true">Login</i>
            </a>
          </li>
          <li class="nav-item active" *ngIf="log">
              <a routerLink="/logout"  (click)="authSignOut()">
                <i class="fa fa-user " aria-hidden="true">Logout</i>
              </a>
            </li>
        <li class="nav-item active" *ngIf="log">
          <a routerLink="/addcar">
            <i class="fa fa-car" aria-hidden="true">Add Car</i>
          </a>
        </li>
        <li class="nav-item active">
            <a routerLink="/search">
              <i class="fa fa-search" aria-hidden="true">  Search</i>
            </a>
          </li>

          <li class="nav-item active" *ngIf="log">
            <a routerLink="/profile"> <i class="fa fa-user " aria-hidden="true">Profile</i>
            </a>
          </li>

        
      </ul>
      <p *ngIf="log">
      Welcome {{name}}</p>
    </div>
  </nav>
</body>
</html>


<router-outlet></router-outlet>
<ngx-spinner></ngx-spinner>